.create-chama-container {
    background-color: #0a253b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.create-chama-card {
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-btn {
    background-color: '#1fc1c3';
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}